.footer{
    padding: 4rem 6rem;
    background: #000;
    color: white;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.top i{
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover{
    color:#01959a ; 
    scale: 1.3;
    transition: 0.3s ease-in-out;
}

.bottom{
    padding-top: 1rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h4{
    font-style: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}

.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 850px) {
    .footer{
        padding: 3rem 1.5rem;
    }

    .footer i{
        margin: 1rem 1rem 0 0;
    }

    .top{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .bottom div{
        width: 50%;
        text-align: center;
    }
}